<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#2C0091"><b>DEMANDES D'APPROVISIONNEMENT</b></h2>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_centeralign oe_websiteonly">
            <h4 class="oe_slogan"><a href="https://gitlab.com/odoosk/ibis_info" target="_blank" style="color: #FFFFFF !important; border-radius: 0; background-color: #9c676e; border-color: #005ca7; padding: 15px; font-weight: bold;">
               <i class="fa fa-gitlab"></i>
                LINK OF THE MODULE IN GITLAB
            </a></h4>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan" style="color:#332c3c;font-size: 28px;">OSK MODULES / IBIS-INFO</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <!-- <img src="access_group.png" style="height:400px;">  -->
            </div>
        </div>
    </div>
</section>

<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <img src="participant.png"/>
            <div style="color:#269900;">
                <h3 style="color:#2C0091;font-size: 25px;">If you need any help or support, just contact us:</h3><br>
                <h3 style="color:#2C0091;font-size: 20px;">Email: <a href="odoo.osk@gmail.com">odoo.osk@gmail.com</a> <br></h3>
            </div>
        </div>
    </div>
</section>
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
